{% extends 'form.html.twig' %}

{% block title%}Reset Password{% endblock %}

{% block form %}
    <div class="login-form">
        <form action="" method="post">
            <div class="form-group">
                <label>Password</label>
                <input class="au-input au-input--full" type="password" name="password" placeholder="Password" required>
                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">submit</button>
        </form>
    </div>
{% endblock %}