.logo{
    text-align: center;
}

.logo img{
    max-width: 50%;
}

.login-logo img{
    width: 180px;
    height: 85px;
}

.form-error{
    color: red;
    font-size: 12px;
}

.card-body .rounded-circle{
    width: 170px;
}