.logo{
    text-align: center;
}

.logo img{
    max-width: 50%;
}

.login-logo img{
    width: 180px;
    height: 85px;
}

.form-error{
    color: red;
    font-size: 12px;
}

.card-body .rounded-circle{
    width: 170px;
}

.hr{
    text-align: center;
    display: flex;
    align-items: center;
}

.hr::before,
.hr::after {
    border-top: .0625em solid;
    content: "";
    flex: 1;
    margin: 0 .5em;
}

.page-item.active .page-link {
    background-color: #63c76a;
    border-color: #59ad5e;
}

.page-link {
    color: #808080;
}

.page-link:hover {
    color: #ffffff;
    background-color: #63c76a;
}

.pagination {
    font-size: 13px;
}

.search_result a{
    color: #666666;
}